@import url('https://fonts.googleapis.com/css2?family=Gluten&display=swap');

body {
    border: solid ;
    padding-top: 3.5rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-color: 
    #FDF2F8;
    
}
.main {
    text-align: center;
    color: #831843
    ;
    
    
    
}
#show-btn {
    background-color: #9D174D;
    
    font-size: large ;
    font-style:inherit;
    font: optional;
    font-weight:unset;
    margin-top: 6rem;
    border-radius: 1rem;
    color:wheat;
    cursor: pointer;
    
    
}

#bday-input {
    background-color: pink ;
    font-size:xx-large ;
    margin-top: 4rem
    ;
    border-radius: 0.5rem;

    

    

}

#result {
    font-weight: bold;
    font-size:x-large;
    padding-top: 3rem;
}
.heading {
    font-family: 'Gluten', cursive;

}

.info {
    text-align: center;
    font-family:serif;
    font-style: oblique;
    
}